asgiref==3.7.2
certifi==2023.11.17
Django==4.2.9
django-debug-toolbar==4.2.0
django-formtools==2.5.1
django-otp==1.3.0
django-phonenumber-field==7.3.0
django-sslserver2==0.1.4
django-two-factor-auth==1.15.5
phonenumbers==8.13.27
pillow==10.2.0
psycopg==3.1.16
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.4.4
typing_extensions==4.9.0
