{% extends 'products/base.html' %}
{% load static %}
<link href="{% static 'vendor/css/chang_pass_confirm.css' %}" rel="stylesheet">


{% block content %}
        <div class="background-shapes">
        <div class="shape1"></div>
        <div class="shape2"></div>
        <div class="shape3"></div>
    </div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4" style="background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-header" style="background-color: #4c9ee3; color: #ffffff; text-align: center; border-top-left-radius: 8px; border-top-right-radius: 8px; padding: 20px;">
                    <h2>Password Reset</h2>
                </div>
                <div class="card-body" style="padding: 20px;">
                    <form method="post" class="form">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            {# Выводим ошибки в желаемом формате #}
                            {% for error in form.non_field_errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}

                            {# Выводим поля формы вручную #}
                            {{ form }}
                            {% if form.email.errors %}
                                <p class="error-message">{{ form.email.errors.0 }}</p>
                            {% endif %}

                            {# Добавьте другие поля формы таким же образом #}
                        </div>
                        
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary btn-block" style="background-color: #4c9ee3; color: #ffffff; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
